.cards {
  /* margin: 107px auto 0; */
  margin: 67px auto 0;
  width: 90%;
  max-width: 1140px;
  min-height: 493px;
}

.cards__list {
  /* margin-bottom: 43px; */
  margin-bottom: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 38px 20px;
}

.cards__button {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  padding: 0;
  /* margin: 0 auto 91px; */
  margin: 54px auto 91px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 36px;
  border: none;
  border-radius: 10px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: 0.5s;
}

.cards__button:hover {
  font-size: 14px;
  opacity: 60%;
}

@media screen and (max-width: 1024px) {
  .cards__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .cards {
    margin: 125px auto 0;
    width: 92%;
    min-height: 736px;
  }

  .cards__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media screen and (max-width: 500px) {
  .cards {
    margin-top: 88px;
    min-height: 970px;
  }

  .cards__list {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 51px;
  }

  .cards__button {
    min-width: 240px;
  }
}
