.user__submit {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: auto;
  padding: 0;
  border: none;
  min-height: 45px;
  background-color: #3456f3;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s;
}

.user__submit:hover {
  font-size: 17px;
}

.user__submit:disabled {
  color: #c2c2c2;
  background-color: #f8f8f8;
  font-size: 14px;
}

.user {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1280px;
  align-items: center;
}

.user__title {
  margin: 74px 0 122px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.user__form {
  min-height: 300px;

  min-width: 410px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.user__label {
  display: flex;
}
.user__label:first-of-type {
  padding: 0 0 11px;
  border-bottom: rgba(232, 232, 232, 1) solid 1px;
}

.user__placeholder {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
  padding: 3px;
  min-width: max-content;
}

.user__input {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  border: none;
  text-align: end;
  width: 100%;
  padding: 3px;
  color: #000000;
  background-color: #ffffff;
}
.user__input:focus {
  outline: rgba(0, 0, 0, 1) solid 1px;
}

.user__edit {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  margin: auto 0 0;
  font-weight: 400;
  font-size: 13px;
  transition: 0.5s;
}

.user__edit:hover {
  font-size: 16px;
  opacity: 60%;
}

.user__link {
  margin: 15px;
  color: #ff3055;
  font-weight: 500;
  font-size: 13px;
  text-decoration: none;
  transition: 0.5s;
}

.user__link:hover {
  font-size: 16px;
  opacity: 60%;
}

@media screen and (max-width: 768px) {
  .user {
    margin: auto;
  }

  .user__title {
    margin: 0px 0 90px;
  }

  .user__link {
    margin: 15px 0 32px;
  }
}

@media screen and (max-width: 500px) {
  .user {
    margin: auto auto 0;
  }

  .user__form {
    min-width: 260px;
    min-height: 59vh;
  }

  .user__title {
    margin: 0px 0 80px;
  }

  .user__link {
    margin: 15px 0 40px;
  }
}
