.search {
  width: 90%;
  max-width: 1140px;
  margin: auto;
}

.search__form {
  display: flex;
  justify-content: space-between;
  margin: 70px auto 33px;
  align-items: center;
  padding-bottom: 13px;
  border-bottom: rgba(232, 232, 232, 1) solid 1px;
}

.search__form-input {
  border: none;
  font-weight: 500;
  font-size: 28px;
  width: 100%;
}

.search__form-submit {
  background: rgba(52, 86, 243, 1);
  min-width: 59px;
  min-height: 34px;
  border-radius: 15px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  margin: 0 0 0 22px;
  padding: 0;
  transition: 0.5s;
}
.search__form-submit:hover {
  min-width: 62px;
  font-size: 13px;
}

.filter__name {
  display: flex;
  gap: 14px;
  align-items: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

@media screen and (max-width: 768px) {
  .search {
    width: 92%;
  }

  .search__form {
    margin: 80px auto 30px;
  }

  .search__form-filter {
    display: flex;
    flex-direction: row-reverse;
  }

  .filter__name {
    flex-direction: row-reverse;
    gap: 16px;
  }
}

@media screen and (max-width: 500px) {
  .search__form {
    margin: 85px auto 35px;
  }

  .search__form-filter {
    justify-content: center;
  }

  .search__form-input {
    font-size: 18px;
    line-height: 22px;
  }

  .filter__name {
    font-size: 11px;
  }
}
