.header {
  width: 100%;
}

.header_background {
  background-color: #073042;
}

.header__container {
  margin: auto;
  display: flex;
  width: 90%;
  max-width: 1280px;
  min-height: 74px;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  width: 100px;
}

.header__logo-img {
  width: 38px;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.navigation__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  transition: 0.5s;
  color: #000000;
}
.navigation__link:first-of-type {
  margin-right: 16px;
}
.navigation__link:hover {
  font-size: 15px;
  opacity: 60%;
}

.header__navigation-account {
  background-position-y: 40%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  height: 32px;
  width: 100px;
  border-radius: 15px;
}
.header__navigation-account:hover {
  background-size: 135px;
}
.background_black {
  background-image: url("../../images/profile.jpg");
}
.background_white {
  background-image: url("../../images/profileWhite.jpg");
}

.header__register-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  transition: 0.5s;
}

.header__register-link:hover {
  font-size: 16px;
  opacity: 60%;
}

.header__login-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-left: 30px;
  min-width: 76px;
  min-height: 32px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  background: #3ddc84;
  border-radius: 3px;
  transition: 0.5s;
}

.header__login-link:hover {
  min-width: 79px;
  min-height: 35px;
  font-size: 15px;
}

@media screen and (max-width: 500px) {
  .header__login-link {
    font-size: 10px;
    min-width: 54px;
    min-height: 26px;
    margin-left: 14px;
  }

  .header__register-link {
    font-size: 10px;
  }
}
